<div>
  <div class="container no-result" id="no-result-div">
    <%= image_tag 'find.png', class: ['img-responsive', ''] %>
    <label>未找到指定的绩效申请</label>
  </div>
  <div class="container results" id="results-div">
    <label id="details-title" class="details-title"></label>
    <label id="details-name" class="details-name"></label>
    <div><label id="details-status" class="details-status"></label></div>
    <label id="details-description" class="details-description"></label>
    <div id="logs"></div>
  </div>
  <label id="log-sample" class="log-sample"></label>
</div>