<script src="//g.alicdn.com/dingding/open-develop/0.8.4/dingtalk.js" type="text/javascript" charset="utf-8"></script>

<%= javascript_include_tag 'jquery.base64.min', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript" charset="utf-8">
  var agentId = <%= ENV['LADDER_AGENT_ID'] %>
</script>

<button id="test">just a test</button>