<form role="form" class="only-form" id="request-form">
  <div class="form-group">
    <label class="control-label">任务名称</label>
    <input class="form-control" type="text" name="name" placeholder="请输入任务名称（必填）">
  </div>
  <div class="form-group">
    <label class="control-label">任务基本分</label>
    <input class="form-control" type="number" name="grade" placeholder="请输入任务基本分（必填，仅数字）">
  </div>
  <div class="form-group">
    <label class="control-label">完成情况</label>
    <textarea class="form-control" name="description" placeholder="请简要介绍完成情况（必填）" rows="4"></textarea>
  </div>
  <button id="submit-button" type="submit" class="btn btn-primary btn-block">提交</button>
</form>