<% if 'production' == Rails.env %>
    <script src="http://echarts.baidu.com/dist/echarts.min.js" type="text/javascript" charset="utf-8"></script>
<% else %>
    <script src="http://echarts.baidu.com/dist/echarts.js" type="text/javascript" charset="utf-8"></script>
<% end %>

<div id="chart"></div>