<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<%= javascript_include_tag 'echarts.min', 'data-turbolinks-track': 'reload' %>

<div id="chart"></div>
<div class="refresh circle">
  <i class="fa fa-refresh" aria-hidden="true"></i>
</div>