<% if 'production' == Rails.env %>
    <script src="http://cdn.bootcss.com/echarts/3.3.1/echarts.js" type="text/javascript" charset="utf-8"></script>
<% else %>
    <script src="http://echarts.baidu.com/dist/echarts.js" type="text/javascript" charset="utf-8"></script>
<% end %>

<div id="main" style="width: 100%;height:800px;"></div>
<button id="test">just test</button>